

.brand {
  font-family: var(--font-family-cursive);
  font-size: 30px;
}

header, main, footer {
  padding: 0 !important;
}

header {
  margin-top: var(--spacing);
  border-bottom: 2px solid var(--card-border-color);
}

a.active {
  font-weight: 500;
}

.grid {
  padding-bottom: var(--spacing);
}

.grid:first-of-type {
  padding-top: var(--spacing);
}

.center {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.left, .right {
  float: none;
}

img.portrait {
  width: 250px;
  background-color: var(--primary);
  border-radius: var(--border-radius);
  margin: 0 auto var(--spacing) auto;
}

@media (max-width: 576px) {
  [role=button] {
    margin: var(--spacing);
    width: calc(100% - 2* var(--spacing));
  }
}

@media (min-width: 576px) {
  .left {
    float: left;
  }

  .right {
    float: right;
  }

  img.portrait {
    margin: 0 0 var(--spacing) var(--spacing);
  }
}
